/**
 * Front page styles
 */

#logo {
	background-color: $white;

	img {
		width: 40%;
		padding-top: 0.3rem;
	}

	.icon-box {
		margin-top: 2rem;
		margin-right: 2.25rem;
		float: right;
		a {
			color: $medium-gray;
			padding-right: 0.25rem;
		}
		a:hover {
			color: $primary-color;
		}
	}
}
