#page {
  background-color: $white;
  @include grid-row();
  padding-top: 2rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }

}
