#single-post {
  background-color: $white;
  @include grid-row();
  padding-top: 2rem;
  padding-bottom: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
    }
  }

  .meta {
    font-family: $header-font-family;
  }

  .author {
    font-size: 1.1rem;
    // Rounded author avatar
    img {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
    }
  }

  .date {
    font-size: 0.9rem;
  }

  // Category label list
  .category-list {
    .label {
      color: #333333;
      background-color: #f1f1f1;
      font-family: $header-font-family;
      font-size: 0.9em;
      line-height: 1.5em;
      padding-left: 0.6em;
      padding-right: 0.6em;
      margin-right: 0.5em;
    }
  }

}
