#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: #484848;
	color: $light-gray;
	font-family: "Roboto";

	hr {
		margin: 0;
		padding: 0;
	}

	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
	}
}

#footer-nav {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: lighten($primary-color, 10%);
	font-family: "Lato";
	font-weight: bold;

	.bar {
		background-color: lighten($primary-color, 5%);
		padding-left: 1rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		a {
			color: $light-gray;
		}
		a:hover {
			color: #f0ad00;
		}
	}

}

#footer-nav-bar {
	background-color: $primary-color;
}
