.top-bar {

  .menu .home a {
    font-size: 1rem;
    color: $white;
  }

  .menu a {
    height: 45px;
    line-height: 45px;
    color: $white;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 1rem;
    text-transform: lowercase;

    &:hover:not(.button) {
      color: #f0ad00;
    }
  }

  .menu>li:not(.menu-text)>a {
    padding: 1rem;
  }

  .menu li:not(:last-child) {
    @include breakpoint(medium) {
      border-right: none;
    }
  }

  .dropdown.menu .submenu {
    background-color: $primary-color;
    color: $white;
    border: 0;
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
    color: $white;
  }

  .dropdown.menu .has-submenu.is-down-arrow a:hover:not(.button) {
    padding-right: 1rem;
    color: #f0ad00;
  }

  .dropdown.menu .has-submenu.is-down-arrow>a::after {
    border: 0;
  }


}

.vertical &.menu {
  padding: 1rem;
}

.title-bar {
  @include breakpoint(medium) {
    display: none;
  }

  .title a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}
